:root {
    --main-bg-color: #464444;
    --secondary-bg-color: #64666c;
    --main-text-color: #FBFFF1;

    --smallest-media-viewport: 280;
    --largest-media-viewport: 1600;
    --fontScale: calc( (100vw - (var(--smallest-media-viewport)* 1px))  /  (var(--largest-media-viewport) - var(--smallest-media-viewport)) );
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--main-text-color);
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--main-bg-color);
}

div.header {
    height: 15%;
}

div.main-content {
    background-color: var(--secondary-bg-color);
    display: grid;
    grid-template-rows: 25% 22.5%; 
    justify-content: center;
    text-align: center;
    height: 70%;
}

div.footer {
    height: 15%;
}

/* main-content children */
div#logo {
    --smallestFont: 24;
    --largestFont: 48;
    --baseUnit: var(--smallestFont) * 1px;
    font-size: calc( var(--baseUnit) + (var(--largestFont) - var(--smallestFont)) *  var(--fontScale) );
    align-self: end;
}

form#gasDataInput {
    align-self: center;
    justify-self: center;
    --smallestFont: 10;
    --largestFont: 22;
    --baseUnit: var(--smallestFont) * 1px;
    font-size: calc( var(--baseUnit) + (var(--largestFont) - var(--smallestFont)) *  var(--fontScale) );
}

div#gasDataOutput {
    display:grid;
    grid-template-rows: 6.25%;
}

/* gasDataInput children */

select#fuelTypes {
    width: 10em;
    padding: 1.25vh 1.25vw;
    margin: 0.5vh 0;
    border-radius: 15px;
    font-size: 0.75em;
    font-family: inherit;
    outline: transparent; 
}
select#fuelTypes option {
    width: inherit;
    padding: inherit;
    font-family: inherit; 
    font-size: inherit;
}

input[type=text].searchInput {
    width: 19em;
    font-family: inherit;
    font-size: 1em;
    padding: 1.25vh 1.25vw;
    border-radius: 15px;
    outline: transparent; /* accessibility option */
}

input[type=text]:focus-visible {
    /*
    border-color: var(--main-bg-color);
    outline: 1.25px;
    outline-style: solid;
    */
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.24);
}

/* gasDataOutput children */
.trendsOutput {
    --smallestFont: 11;
    --largestFont: 28;
    --baseUnit: var(--smallestFont) * 1px;
    font-size: calc( var(--baseUnit) + (var(--largestFont) - var(--smallestFont)) *  var(--fontScale) );
    margin-top: calc(4px + 1.5625vh);
}

div.stationsOutputNavigation {
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
    margin-top: calc(1.5625vh);
    height: 50%;
}

/* stationsOutputList children */

.stationsOutputNavigation > button { /* reset button default css */
    background: transparent;
    border: 0;
    padding: 0;
    color: currentColor;
}

button.stationInfoNav {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
    --smallestFont: 16;
    --largestFont: 28;
    --baseUnit: var(--smallestFont) * 1px;
    font-size: calc( var(--baseUnit) + (var(--largestFont) - var(--smallestFont)) *  var(--fontScale) );
    
    margin: 0 0.5%;
    border: 4px solid var(--main-bg-color);
    border-radius: 10px;
}

.stationInfoNav,
.stationInfoNav::before {
    cursor: pointer;
}
.stationInfoNav::before { content: ""; }

.stationInfoNav:focus { outline: 4px solid #FBFFF1; outline-offset: -4px; }

.stationInfoNav:hover { background: var(--main-bg-color); border-radius: 10px;}

